<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="theme-color" content="#000000" />

    <link rel="manifest" href="./manifest.json" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.gameName %>" />
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.gameName %>" />
    <meta name="msapplication-starturl" content="./" />

    <link rel="icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="./icons/icons-192.png" />

    <link rel="icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="./icons/icons-512.png" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.gameName %></title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        background-color: #000000;
        color: white;
      }
      dl {
        column-count: 3;
      }

      dt, dd {
        margin: 0 1em;
        padding: 0;
      }

      dt {
        font-weight: bold;
        width: 5px;
      }

      kbd {
        border: dotted 1px white;
        padding: 2px 15px;
        border-radius: 5px;
      }

      dd {
        width: 200px;
      }
    </style>

    <noscript>Please enable javascript to continue using this application.</noscript>

    <!-- installs the serviceWorker -->
    <!-- <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('./sw.js')
        })
      }
    </script> -->
  </head>
  <body>
    <div id="phaser-game"></div>

    <h1>Commandes</h1>
    <dl>
      <dt><kbd>UP</kbd></dt>
      <dd>Ajoute de l'eau dans les balastres</dd>
      <dt><kbd>DOWN</kbd></dt>
      <dd>Vide l'eau dans les balastres</dd>
      <dt><kbd>RIGHT</kbd></dt>
      <dd>Enclenche la marche avant</dd>
      <dt><kbd>LEFT</kbd></dt>
      <dd>Enclenche la marche arrière</dd>
      <dt><kbd>SPACE</kbd></dt>
      <dd>Active le moteur</dd>
      <dt><kbd>L</kbd></dt>
      <dd>Alume la lumière</dd>
      <dt><kbd>1</kbd></dt>
      <dd>Oriente la lumière vers le bas</dd>
      <dt><kbd>2</kbd></dt>
      <dd>Oriente la lumière vers le centre</dd>
      <dt><kbd>3</kbd></dt>
      <dd>Oriente la lumière vers le haut</dd>
      <dt><kbd>X</kbd></dt>
      <dd>Démarre le jeu immédiatement</dd>
      <dt><kbd>S</kbd></dt>
      <dd>Démarre le jeu</dd>
      <dt><kbd>R</kbd></dt>
      <dd>Quitte l'écran de Game Over</dd>
      <dt><kbd>P</kbd></dt>
      <dd>Quitte le jeu</dd>
      <dt><kbd>F</kbd></dt>
      <dd>Met en fullscreen (fonctionne seulement dans l'écran d'accueil)</dd>
    </dl>
  </body>
</html>
